
/* ids, classes */
#records {
    width: 500px;
    overflow: auto;
    margin: 0 1em;
}

#records > table tr:nth-child(odd) {
    background-color: cornsilk;
}

#records > table tr:nth-child(even) {
    background-color:cyan;
}

#tables2 {
    border: 2px solid black;
    width: 500px;
    overflow: auto;
    float: left;
    margin: 0 1em;
}